*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container{
    background-color: gray;
    height: 100vh;
    
    
}
.box{
    position: relative;
    top: 86px;
    width: 600px;
    margin: auto;
   
    display: grid;
    
   grid-template-columns: repeat(2,1fr);
    
   box-shadow: 4px 5px 3px gray;
   border-radius: 20px;
    
   
   
}
.content{
    background-color: white;
     width: 300px;
    height: 460px;
    border-radius: 20px;
}
.image{
    background-image: url(images/image-product-desktop.jpg);
     position: relative;
    background-color: rgb(11, 179, 75);
    background-position: center;
    background-size: cover;
    height: 460px;
    border-radius: 20px 0px 0px 20px;
    
}
img{
    height: 460px;
    width: 300px;
    border-radius: 20px 0px 0px 20px;
}
.matter{
    
    padding: 30px;
}
.perfume{
    letter-spacing: 7px;
    color: grey;
    position: relative;
    top: 10px;
   
}
h1{
    width: 80%;
    position: relative;
    top: 20px;
    font-weight: 1000;
    font-size: 30px;
    
}
p{
    color: gray;
    width: 80%;
    font-size: 15px;
    font-weight: 80;
    position: relative;
    top: 30px;
    
}
h2{
    color: darkolivegreen;
    font-size: 40px;
    position: relative;
    top: 50px;
    

}
.cutprice{
    text-decoration: line-through;
    font-size: large;
   color: grey;
    position: relative;
    top: 15px;
    left: 150px;
}

.btn{
    border: none;
    padding: 15px 65px;
color: wheat;
background-color: darkolivegreen;
position: relative;
top: 60px;
font-size: larger;
text-decoration: none;
border-radius: 30px;

}
.btn:hover{
    background-color: rgb(0, 0, 0);
    
}
@media (max-width : 520px){
     .box{
        display: block;
        width: 500px;
        margin: 40px;
     }
        .content{
    background-color: white;
     width: 500px;
    height: 460px;
    border-radius: 20px;
    align-content: center;
    
}
.image{
    background-image: url(images/image-product-mobile.jpg);
     position: relative;
    background-color: rgb(11, 179, 75);
    background-position: center;
    background-size: cover;
    height: 460px;
    border-radius: 20px 0px 0px 20px;
    
}
img{
    height: 200px;
    width: 500px;
    border-radius: 20px 0px 0px 20px;
}
     .btn{
    border: none;
    padding: 6px 10px;

}
@media (max-width : 480px){
    .container{
        max-width: 500px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
     .box{
        display: block;
        width: auto;
       
        margin: 40px;
     }
        .content{
    background-color: white;
     width: auto;
    
    
}
.image{
    background-image: url(images/image-product-mobile.jpg);
     position: relative;
    background-color: rgb(11, 179, 75);
    background-position: center;
    background-size: cover;
    height: 460px;
    border-radius: 20px 0px 0px 20px;
    
}
img{
    height: 200px;
    width: auto;
    border-radius: 20px 0px 0px 20px;
}
     .btn{
    border: none;
    padding: 6px 10px;

}
@media (max-width : 360px){
    .container{
        max-width: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
     .box{
        display: block;
        width: auto;
       
        margin: 40px;
        height: fit-content;
        padding-bottom: 20px;
     }
        .content{
    background-color: white;
     width: auto;
     
    
    
}
.image{
    background-image: url(images/image-product-mobile.jpg);
     position: relative;
    background-color: rgb(11, 179, 75);
    background-position: center;
    background-size: cover;
    height: 460px;
    border-radius: 20px 0px 0px 20px;
    
}
img{
    height: 200px;
    width: auto;
    border-radius: 20px 0px 0px 20px;
}
    .btn{
    border: none;
    padding: 6px 10px;


}

}