*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    min-height: 100vh;
    border: 7px solid;
    padding: 60px;
}
h1{
    font-size: 50px;
   margin-bottom: 30px;
  
}
ul{
 margin-left: 80px;
}
li{
    margin-bottom: 20px;
}
@media (max-width : 500px) {
    body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-self: center;
        max-width: 100%;
        margin: 0 auto;
       align-items: center;
       text-decoration: ;
       text-align: center;
    }
    ul{
 margin: 0 auto;
}
    
}