*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.container{
    background-color: darkgreen;
    margin: 60px;
    max-width: fit-content;
    max-width: fit-content;
}
.top{
    background-color: whitesmoke;
    display: flex;
    padding-bottom: 50px;
    height: fit-content;
    
}
.left{
    
    flex-basis: 50%;
flex-grow: 0;
}
.left h1{
    color: rgb(80, 13, 143);
    width: 50%;
    font-size: 50px;
}
.left p{
    color: rgb(144, 114, 172);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    font-size: large;
}
.right{
    margin-top: 50px;
    flex-basis: 50%;
flex-grow: 0;
display: grid;
grid-template-columns: 150px 350px;
height: calc(100vh - 1000px);


}
.star{
    background-color: rgb(228, 212, 243);
    margin-top: 30px;
    padding-left: 20px;
    border-radius: 25px 0px 0px 25px;
    padding-top: 5px;
}
.a{
    background-color: rgb(228, 212, 243);
    margin-top: 30px;
   
}
.bs{
    margin-left: 30px;
    padding-right: 160px;
}
.cs{
    margin-left: 60px;
    padding-right: 160px;
}
.b{
    background-color: rgb(228, 212, 243);
    margin-top: 30px;
    margin-left: 30px;
    
}
.c{
    background-color: rgb(228, 212, 243);
    margin-top: 30px;
    margin-left: 60px;
    
}
.matter{
    font-size: 25px;
    font-weight: 900;
    border-radius: 0px 25px 25px 0px;
    color: rgb(80, 13, 143);
}

.bottom{
    display: flex;
    background-color: whitesmoke;
    padding-bottom: 80px;
    padding-top: 20px;
    color: antiquewhite;
}
.f1{
flex-basis: 50%;
flex-grow: 0;
background-color: darkseagreen;
margin-right: 20px;
border-radius: 25px;
padding-bottom: 10px;
background-color: rgb(80, 13, 143);
padding-top: 10px;
}
img{
    float: left;
    clip-path: circle();
}
.up{
    margin: 20px;
}
.bottom p{
    
    clear: left;
    width: 80%;
    margin: 50px auto;

}
.bottom h3{
    margin-left: 100px;
}
.bottom h4{
    margin-left: 100px;
    color: rgb(165, 47, 155);;
}
.f2{
flex-basis: 50%;
flex-grow: 0;
padding-bottom: 10px;
margin-right: 20px;
position: relative;
top: 20px;
border-radius: 25px;
background-color: rgb(80, 13, 143);
padding-top: 10px;
}
.f3{
    flex-basis: 50%;
flex-grow: 0;
background-color: rgb(80, 13, 143);
position: relative;
top: 40px;
border-radius: 25px;
padding-bottom: 10px;
padding-top: 10px;
}


@media (max-width : 520px){
    .top{
        
        display: block;
        width: 100%;
        justify-content: center;
        text-align: center;
        
    }
    .top h1{
        
        margin: 10px auto;
        
        text-align: center;
    }
    .top p{
        margin: 10px auto;
        
        text-align: center;
    }
    .left,.right{
        width: 100%;
        text-align: center;
    }
    .right{
    margin-top: 50px;
    grid-template-columns: repeat(1,1fr);
    height: calc(100vh - 500px);
    grid-gap: 4px ;
     justify-content: center;
    
}
    .left{
        width: 400px;
        margin: auto;
    }
    .star{
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -20px;
}
.bottom{
    display: block;
    
}
.f1,.f2{
    width: 100%;
}
    .f1{
        margin-top: 20px;
    }
    
.star{
    margin: 0;
    border-radius: 25px;
}
.a{
      margin: 0;
    border-radius: 25px;
   
}
.as{
    position: relative;
    left: 2px;
    text-align: ;
}
.bs{
      margin: 0;
    border-radius: 25px;
    position: relative;
    left: 2px;
    text-align: right;
    
    
}
.cs{
    margin: 0;
    border-radius: 25px;
    position: relative;
    left: 2px;
    text-align: left;
}
.b{
      margin: 0;
    border-radius: 25px;
   
    
}
.c{
      margin: 0;
    border-radius: 25px;
    
    
}
.matter{
      margin: 0;
    border-radius: 25px;
    
}
}